


body {
    height: 100vh;
    background-color: #ae4eef;
}

.main-color {
    color: #653383 ; 
}

.main-bg-color {
    background-color: #653383 ; 

}

.btn-main {
    background-color: #653383 ;
}

.row {
    height: 100vh;

}

